menu "Device Selectionaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
    
	choice DEVICE_SELECTION
	    prompt "Device Selection"
	    default DEVICE_QTZ
	    help
	        This is a help.
	
	    config DEVICE_TD01
	        bool "TD01"
	        help
	            help for option1
	            
	    config DEVICE_TJS
	        bool "TJS"
	        help
	        	help for option2

		config DEVICE_DIANJI
	        bool "DIANJI"
	        help
	        	help for option3

		config DEVICE_QTZ
			bool "QTZ"
			help
				help for option4
	        	
	endchoice

endmenu
  